<!DOCTYPE html>
<html>

   <head>
      <title>This is document title</title>


   </head>
	
   <body>
      <h1>Entrez des noms de plantes:</h1>


	<form action="{{ url_for('handle_data') }}" method="post">
    	<input type="text" name="plant" list="PlantList">
    	<input type="submit">
	<datalist id="PlantList">
    	{% for item in PlantList %}
	<option value="{{ item[:-1] }}" />
	{% endfor %}
	</datalist>
	</form>

	<form action="{{ url_for('submit_list') }}" method="post">
    	<input type="submit">
	</form>


	<ul id="plants">
    	{% for item in plants[::-1] %}
        <h2>- {{ item }}</h2>
    	{% endfor %}
    	</ul>



   </body>
	
</html>
